
.modal {
  position: fixed;
  padding: 50px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  z-index: 1;

  @media screen and (max-width: $break-point-lg) {
    min-width: 320px;
    padding: 20px;
  }

  &:not(.visible) {
    display: none;
  }

  &-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background: url('../../assets/images/close-btn.png') no-repeat center / cover;
  }
}

.modal-trigger {
  cursor: pointer;
  display: inline-block;
}

.modal-mask {
  background-color: rgba(black, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  user-select: none;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: initial;
  }
}

